@import "../../variables.scss";

.container {
  background-color: $navbar-gray;
  color: $font-gray;
  padding: 18px 9vw 12px 9vw;
  display: flex;
  align-items: center;
}

.container.downscaled {
  font-size: 0.6rem;
  padding: 12px 4vw 8px 4vw;
}

tr {
  height: 1.6em;
}

col.spacer {
  width: 0.5em;
}

a {
  color: $accent-yellow;
}

.flex-spacer {
  flex-grow: 1;
}

.social-icon {
  width: 4em;
  border-radius: 30%;
  pointer-events: auto;
  cursor: pointer;
}

.social-icons-spacer {
  width: 1.5em;
}
