<div class="container">
  <!-- Contact info -->
  <table class="contact-info-table">
    <col />
    <col class="spacer" />
    <col />
    <tr>
      <td>Email:</td>
      <td></td>
      <td><a href="mailto:clixphoto7@gmail.com">clixphoto7@gmail.com</a></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td></td>
      <td><a href="tel:+19059255634">+1 905 925 5634</a></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td></td>
      <td>1920B Hartsmere Rd.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>McArthur's Mills ON K0L2M0</td>
    </tr>
  </table>

  <span class="flex-spacer"></span>

  <!-- Social Icons -->
  <img
    class="social-icon"
    src="https://storage.googleapis.com/clixphoto-assets/facebook-icon.jpg"
    src-fallback="assets/facebook-icon.jpg"
  />
  <span class="social-icons-spacer"></span>
  <img
    class="social-icon"
    src="https://storage.googleapis.com/clixphoto-assets/instagram-icon.jpg"
    src-fallback="assets/instagram-icon.jpg"
  />
</div>
