<div class="container" [class.transparent]="transparent">
  <div class="logo-container" [class.hidden]="transparent">
    <img class="logo" src="assets/round-eye-logo.png" />
  </div>
  <!-- Desktop -->
  <div class="flex-container" *ngIf="!(condensed$ | async)">
    <span class="navlink-text">PORTFOLIO</span>
    <span class="navlink-line" [class.dark]="transparent"></span>
    <span class="navlink-text">BIO</span>
    <span class="flex-spacer"></span>
    <span class="navlink-text">SHOP</span>
    <span class="navlink-line" [class.dark]="transparent"></span>
    <span class="navlink-text">EVENTS</span>
    <span class="navlink-line" [class.dark]="transparent"></span>
    <span class="navlink-text">CLASSES</span>
    <span class="navlink-line" [class.dark]="transparent"></span>
    <span class="navlink-text">PRIVATE SHOOTS</span>
    <span class="navlink-line" [class.dark]="transparent"></span>
    <span class="navlink-text">EDITORIAL CONTENT</span>
    <span class="navlink-line" [class.dark]="transparent"></span>
    <span class="navlink-text login-button">SIGN UP / LOGIN</span>
  </div>

  <!-- Condensed -->
  <div class="flex-container" *ngIf="condensed$ | async">
    <span class="flex-spacer"></span>
    <span class="navlink-text login-button">SIGN UP / LOGIN</span>
  </div>
</div>
