@import "../../variables.scss";

.container {
  background-color: $home-background;
  color: $font-gray;
  font-size: 3rem;
}

.background-photo {
  width: 100%;
}

.links-container {
  height: 1000px;
}
