<div class="container">
  <!-- Desktop -->
  <ng-container *ngIf="!(downscaled$ | async)">
    <img
      class="background-photo"
      src="https://storage.googleapis.com/clixphoto-assets/home-background.jpg"
      src-fallback="assets/home-background.jpg"
    />
    <div class="body-background">
      <div class="grid-container">
        <div class="grid">
          <div class="link bio">Bio</div>
          <div class="link portfolio">Portfolio</div>
          <div class="link private-shoots">Private Shoots</div>
          <div class="link editorial-content">Editorial Content</div>
          <div class="link workshops">Workshops & Classes</div>
          <div class="link events">Events</div>
          <div class="link shop">Shop</div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Downscaled -->
  <ng-container *ngIf="downscaled$ | async">
    <img
      class="background-photo downscaled"
      src="https://storage.googleapis.com/clixphoto-assets/home-background-mobile.jpg"
      src-fallback="assets/home-background-mobile.jpg"
    />
    <div class="body-background">
      <div class="grid-container">
        <div class="grid">
          <div class="link bio">Bio</div>
          <div class="link portfolio">Portfolio</div>
          <div class="link private-shoots">Private Shoots</div>
          <div class="link editorial-content">Editorial Content</div>
          <div class="link workshops">Workshops & Classes</div>
          <div class="link events">Events</div>
          <div class="link shop">Shop</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
