<div class="container" [class.condensed]="condensed$ | async">
  <!-- Desktop -->
  <ng-container *ngIf="!(downscaled$ | async)">
    <img
      class="background-photo"
      src="https://storage.googleapis.com/clixphoto-assets/home-background.jpg"
      src-fallback="assets/home-background.jpg"
    />
    <div class="body-background">
      <div class="grid-container">
        <div class="grid">
          <div class="link bio grid-item">Bio</div>
          <div class="link portfolio grid-item">Portfolio</div>
          <div class="link private-shoots grid-item">Private Shoots</div>
          <div class="link editorial-content grid-item">Editorial Content</div>
          <div class="link workshops grid-item">Workshops & Classes</div>
          <div class="link events grid-item">Events</div>
          <div class="link shop grid-item">Shop</div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Downscaled -->
  <ng-container *ngIf="downscaled$ | async">
    <img
      class="background-photo downscaled"
      src="https://storage.googleapis.com/clixphoto-assets/home-background-mobile.jpg"
      src-fallback="assets/home-background-mobile.jpg"
    />
    <div class="flex-container">
      <div class="link bio flex-item">Bio</div>
      <div class="link portfolio flex-item">Portfolio</div>
      <div class="link private-shoots flex-item">Private Shoots</div>
      <div class="link editorial-content flex-item">Editorial Content</div>
      <div class="link workshops flex-item">Workshops & Classes</div>
      <div class="link events flex-item">Events</div>
      <div class="link shop flex-item">Shop</div>
    </div>
  </ng-container>
</div>
